.example {
    margin-top: 50px;

    .heading {
        margin-bottom: 50px;

        .text-left {
            font-size: 60px;
            font-weight: bold;
        }

        .text-right {
            font-size: 18px;
            font-weight: bold;
        }
    }

    .transaction {
        .swiper {
            width: 100%;
        }

        .swiper-slide {
            padding: 15px;
            background: #F0F2F3;
            border-radius: 5px;
            width: 40% !important;
            margin-left: 2%;
            margin-right: 0 !important;

            img {
                width: 100%;
                margin-bottom: 10px;
                border-radius: 5px;
            }

            p {
                margin: 0;
                font-size: 17px;
                color: #00000080;
            }
        }
    }

    .note {
        margin-top: 50px;
        padding: 30px 20px;
        font-size: 18px;
        text-align: center;

        p {
            margin: auto;
            width: 80%;
        }
    }
}

@media screen and (max-width: 768px) {
    .example {
        margin-top: 20px;

        .heading {
            margin-bottom: 20px;

            .text-left {
                font-size: 30px;
                margin-bottom: 5px;
            }

            .text-right {
                font-size: 17px;
            }
        }

        .transaction {
            .swiper {
                width: 100%;
            }

            .swiper-slide {
                padding: 10px;
                border-radius: 5px;
                width: 85% !important;
                margin-left: 3%;

                p {
                    font-size: 15px;
                }
            }
        }

        .note {
            margin-top: 20px;
            padding: 10px;
            font-size: 15px;

            p {
                width: 90%;
            }
        }
    }
}